model_type=gpt2
preprocessed_dir=../answer_generator/data/preprocessed/
graph_info_dir=../data/cpnet2/
protoqa_data_path=../data/protoqa/crowdsource_dev.raw.jsonl

ans_concept_input_type=path_concepts
formatting=SEP
num_noisy_examples=1
max_additional_concepts=5
multitask_type=n1,2,5-w20-r1.0,1.0,1.0

learning_rate=1e-5
warmup_steps=500
weight_decay=0
batch_size=16
num_epoch=200
eval_epochs=20
verbose_generation_output=True
