model_type=gpt2
preprocessed_dir=../data/protoqa/grounded2/
graph_info_dir=../data/cpnet2/
protoqa_data_path=../data/protoqa/crowdsource_dev.raw.jsonl

ans_concept_input_type=random_neighbors
formatting=SEP
num_noisy_examples=5
max_additional_concepts=5
multitask_type=5-w20-s0.05

learning_rate=1e-5
warmup_steps=500
weight_decay=0
batch_size=16
num_epoch=200
eval_epochs=20
verbose_generation_output=True
