preprocessed_dir=data/preprocessed-mini/
graph_info_dir=../data/cpnet2/
output_dir=data/iterative_outputs/test/
overwrite_output_dir=True
evaluate_metrics=concept_recall

learning_rate=1e-5
weight_decay=0
batch_size=2
eval_batch_size=4
num_train_epochs=1
seed=39
logging_steps=10
validate_steps=2
eval_max_num_edges=1200
