preprocessed_dir=data-turing2/preprocessed/
graph_info_dir=data-turing2/cpnet2/
output_dir=data-turing2/iterative_outputs/full1/
overwrite_output_dir=True
evaluate_metrics=concept_recall

learning_rate=1e-6
weight_decay=0
batch_size=6
eval_batch_size=6
num_train_epochs=10
seed=39
logging_steps=10
validate_per_epoch=1
train_max_num_edges=600
eval_max_num_edges=600