preprocessed_dir=data/preprocessed/
graph_info_dir=data/cpnet2/
output_dir=data/iterative_outputs/filter_k-10_scale-1_lr1e-5/
overwrite_output_dir=True
evaluate_metrics=concept_recall

learning_rate=1e-5
weight_decay=0
batch_size=6
eval_batch_size=6
num_train_epochs=10
seed=42
logging_steps=10
validate_per_epoch=1
train_max_num_edges=600
eval_max_num_edges=600
edge_loss_weight=1
filter_concepts_by_routing_score=True
train_top_n_routing_concepts=10
eval_top_n_routing_concepts=10